.coubdl-button {
  padding: 8px 12px;
  color: #fff;
  background: #000;
  line-height: 1;
  font-size: 0.875rem;
  align-self: center;
  border-radius: 4px;
  position: relative;
}
.coubdl-button:hover,
.coubdl-button:active,
.coubdl-button:focus {
  color: #e0e0e0;
  text-decoration: none;;

}
.coubdl-button-group {
  color: #fff;
  background: #000;
  line-height: 1;
  font-size: 0.875rem;
  display: flex;
  align-self: center;
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  box-shadow: 0.7px 3px 0.8px rgba(0, 0, 0, 0.071),
    1px 4.4px 2.7px rgba(0, 0, 0, 0.065), 2px 9px 12px rgba(0, 0, 0, 0.07);
}

.coubdl-button-group-item {
  margin: 0 0.125rem;
}
.coubdl-seperator {
  width: 2px;
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 18px;
  height: 18px;
}
