// ==UserScript==
// @name         {{name}}
// @namespace    {{repository}}
// @copyright    2021, {{name}} ({{repository}})
// @version      {{version}}
// @description  {{description}}
// @author       {{author}}
// @match        https://*.coub.com/*
// @match        https://coub.com/*
// @grant        {{grant}}
// @license      {{license}}
// ==/UserScript==
// ==OpenUserJS==
// @author {{author}}
// ==/OpenUserJS==