name: Build

on: 
  push:
    branches:
    - master

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: |
        msbuild /t:Restore,Build /p:Configuration=Release
